body {
  font-family: $country-page-font-family;
  font-size: $country-page-text-content-size;
  color: $country-page-text-color;
}

h1,
h2 {
  font-weight: 700;
}

h1,
h2 {
  color: $secondary-color;
}

h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 500;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

img {
  max-width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.standard-text-color {
  color: $country-page-text-color;
}

.display_inlineblock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
