@import 'variables';
section.commercial-invoice {
  font-family: $country-page-font-family !important;
  font-weight: 300;
  font-size: $country-page-text-content-size;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /*border: 1px solid black;
    border-bottom: none;*/

  @media (max-width: 800px) {
    font-size: calc(#{$country-page-text-content-size} - 2pt);
  }

  b {
    font-weight: 700;
  }

  .highlight {
    background-color: yellow;
    padding: 3px;
  }

  table {
    th {
      background: $ci-background-color;
      border: 1px solid black;
      padding: 5px;
    }

    td {
      vertical-align: top;
      border: 1px solid black;
      padding: 5px;
    }

    clear: both;
    width: 100%;
    margin: 30px 0 0 0;
    border: 1px solid black;
    border-collapse: collapse;
  }

  h4 {
    width: 100%;
    margin: 20px 0;
    /*background: $ci-background-color;*/
    text-align: center;
    color: black;
    padding: 8px 0px;
    font-size: 24px;
  }

  table.shipinvoice {
    margin-bottom: 30px;

    td {
      width: 50%;
    }
  }

  table.line-items {
    vertical-align: top;

    td {
      vertical-align: top;
    }

    td:nth-child(1) {
      width: 10%;
    }

    td:nth-child(2) {
      width: 65%;
    }

    td:nth-child(3) {
      width: 15%;
    }

    td:nth-child(4) {
      width: 50px;
    }
  }

  table.ci-misc {
    border: none;
    vertical-align: top;

    tr:first-child {
      td {
        border-bottom: none;
        vertical-align: top;
      }

      td:nth-child(1) {
        width: 60%;
        text-align: left;
        border-right: none;
      }

      td:nth-child(2) {
        width: 250px;
        text-align: left;
        border-left: none;
      }
    }

    tr:nth-child(2) td {
      border-top: none;
      border-bottom: none;
    }
  }
}
