@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  font-display: block;
  src: url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Thin-webfont.woff') format('woff'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Thin-webfont.ttf')
      format('truetype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThin')
      format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-display: block;
  src: url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Light-webfont.woff') format('woff'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Light-webfont.ttf')
      format('truetype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Light-webfont.svg#ProximaNovaRegular')
      format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-display: block;
  src: url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Reg-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Reg-webfont.ttf')
      format('truetype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/ProximaNova-Reg-webfont.svg#ProximaNovaReg')
      format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-display: block;
  src: url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Sbold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Sbold-webfont.woff')
      format('woff'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Sbold-webfont.ttf')
      format('truetype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Sbold-webfont.svg#ProximaNovaSemiBold')
      format('svg');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-display: block;
  src: url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Bold-webfont.woff') format('woff'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Bold-webfont.ttf')
      format('truetype'),
    url('https://d1n9d69im4r2us.cloudfront.net/fonts/Proxima_Nova_Bold-webfont.svg#ProximaNovaBold')
      format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')
      format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0')
      format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0')
      format('woff'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0')
      format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
      format('svg');
}
