.hideAdmin {
  display: none !important;
}

main {
  width: 78%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $desktop-breakpoint) {
    width: 70%;
  }

  .emphasis {
    color: $brand-color-purple;
    font-weight: 700;
  }

  > section {
    max-width: 1200px;
    margin: 0px 0px;
    padding: 80px 0px;
    border-bottom: 1px solid #e4d9c9;

    a {
      overflow-wrap: break-word;
      word-wrap: break-word;
      color: $secondary-color;
      padding-bottom: 2px;
      border-bottom: 1px solid $secondary-color;

      &:hover {
        text-decoration: none;
        color: lighten($secondary-color, 15%);
        border-bottom: 1px solid lighten($secondary-color, 15%);
      }
    }
    /* Header Icon */
    > i.fas,
    div i.fas {
      font-size: 30px;
      color: $primary-color;
    }

    > h3 {
      font-weight: 600;
    }
    /*Line Height for:
            - Lists
            - Lists containing A
        */
    li {
      line-height: calc(#{$country-page-text-content-size} * 1.25);

      > a {
        line-height: calc(#{$country-page-text-content-size} * 1.5);
      }
    }

    ul.check-mark-list {
      list-style: none;

      li:before {
        content: '\f00c'; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.6em; /* same as padding-left set on li */
        width: 1.6em; /* same as padding-left set on li */
        color: $country-page-checkmark-color;
      }

      li {
        color: $brand-color-charcoal;
        line-height: calc(#{$country-page-text-content-size} * 1.25);
      }
    }

    ul.x-mark-list {
      list-style: none;

      li:before {
        content: '\f00d'; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.6em; /* same as padding-left set on li */
        width: 1.6em; /* same as padding-left set on li */
        color: #b72020;
      }

      li {
        color: $brand-color-charcoal;
        line-height: calc(#{$country-page-text-content-size} * 1.25);
      }
    }

    h5 {
      color: #333;
      font-weight: 400;
      font-size: 22px;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    ul > li,
    ol > li {
      color: $brand-color-charcoal;
      padding: 6px 0;
    }

    .img {
      text-align: center;
    }
  }

  > section.disclaimer,
  section.tracking-info {
    border: none;
  }
  > section.disclaimer {
    padding: 0px 0px;
  }

  .sources {
    font-size: calc(100% - 2px);
    margin-top: 30px;
  }
}
