section.shipping-rates {
  h2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  width: 85%;
  margin: 0 auto;

  > img {
    margin: 30px 0;
  }

  .btn-banner {
    max-width: 240px;
    text-align: center;
    margin: 50px auto 0px auto;
  }
}
