$primary-color: #5e286c;
$secondary-color: #e68f40;
$input-background: #eee9e3;

$desktop-breakpoint: 992px;

$brand-color-orange: #e78e43;
$brand-color-purple: #5e286c;
$brand-color-charcoal: #221f20;

$country-page-banner-overlay: rgba(0, 0, 0, 0.75);
/*$country-page-banner-overlay: rgba(94,40,108, 0.3);*/

$max-page-width: 100%; //1200px;

$country-page-text-content-size: 14pt;
$country-page-checkmark-color: #00d200;
$country-page-text-color: #333;
$country-page-font-family: ProximaNova, 'Palatino', Helvetica, Arial, sans-serif;

$ci-background-color: #f0ede6;
